@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  src: url('../fonts/UbuntuBold.woff2') format('woff2');
}

@font-face {
  font-family: 'NotBoldUbuntu';
  font-style: normal;
  src: url('../fonts/UbuntuRegular.woff2') format('woff2');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Ubuntu', sans-serif;
}

.noBold {
  font-family: 'NotBoldUbuntu', sans-serif;
}

.forResponsive {
  max-width: 705px;

  @media (max-width: 1145px) {
    max-width: 100% !important;
    width: 100% !important;
  }
}
